body {
  background-color: #192837;
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 20px;
  margin: 0;
}
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

input {
  background-color: #126077;
  border: 1px solid #3F7F93;
  color: #A6CAE6;
  font-family: "Titillium Web";
  font-size: 20px;
  line-height: 43px;
  padding: 0 0.75em;
  width: 400px;
  -webkit-transition: all 0.35s ease-in;
}

input:active, input:focus, textarea:active, textarea:focus {
  outline: 1px solid #48788B;
}

.btn {
  background-color: #126178;
  border: 1px solid #549EAF;
  color: #549EAF;
  cursor: pointer;
  display: inline-block;
  font-family: "Titillium Web";
  font-size: 20px;
  line-height: 43px;
  padding: 0 0.75em;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease-in;
}

.btn:hover {
  background-color: #1888A9;
  color: #183035;
}
.spoken-response {
  max-height: 0;
  max-width: 400px;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in;
}
.spoken-response.is-active {
  max-height: 400px;
}
.spoken-response__text {
  background-color: #040E23;
  color: #7584A2;
  padding: 1em;
}

#title {
  color: white;
}

#spotify-logo {
  height: 71px;
  width: 230px;
  padding: 35px;
  text-align: center;
}

.img-container {
  text-align: center;
}

#album-art {
  display: none;
  padding: 30px;
}

#album-art-link {
  display: none;
}

#track-metadata {
  display: none;
  color: white;
}