body {
  box-sizing: content-box;
}

.container {
  text-align: center;
}

#main-content {
  position: fixed;
  margin: 10vh auto;
  width: 80%;
}

#query-input {
  margin: 0 auto;
  display: inline-block;
  width: 40%;
  min-width: 50vw;
}

#query-response {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;

  min-width: 200px;
  max-width: 30%;
  min-height: 10px;
  max-height: 4vh;

  padding: 2px;
  box-sizing: content-box;

  -webkit-transition: all 1.0s ease-in;
}

#query-response-title {
  display: inline-block;
  padding: 5px;
}

#query-response-msg {
  display: none;
}

#spotify-logo {
  display: none;
}

#spotify-icon {
  box-sizing: content-box;
  min-width: 21px;
  min-height: 21px;
  height: 10vmin;
  width: 10vmin;
  padding: 5vmin;
  text-align: center;
}

#branding-container {
  /* Override Spectre */
  box-sizing: content-box;
}

#music-metadata-container {
  /* initially hidden */
  display: none;

  border: none;
  width: 50%;
  margin: 0 auto;
}

#album-art {
  padding: 5vmin;
  height: 30vmin;
  width: 30vmin;
}

.track-metadata {
  max-height: 6vmin;
}

#track-name {
  /* Put here instead of .track-metadata to override Spectre's Toast max-width */
  max-width: 35vmin;
}

#album-name {
  /* Put here instead of .track-metadata to override Spectre's Toast max-width */
  max-width: 35vmin;
}

#artist-name {
  /* Put here instead of .track-metadata to override Spectre's Toast max-width */
  max-width: 35vmin;
}

/* Only display full query response message if there's enough space */
@media only screen and (min-width: 100px) {
  #query-response-msg {
    display: inline-block;
    padding: 5px;
  }
}

/* Only display full Spotify Logo if there's enough space */
@media only screen and (min-width: 600px) {

  #spotify-icon {
    display: none;
  }

  #spotify-logo {
    box-sizing: content-box;
    display: inline-block;
    min-height: 71px;
    min-width: 230px;
    max-width: 10vmin;
    padding: 35px;
    text-align: center;
  }
}
