<!--
  Original Author: Patrick Catanzariti
  Original Source Code: https://github.com/sitepoint-editors/Api-AI-Personal-Assistant-Demo
  Original Tutorial: https://www.sitepoint.com/how-to-build-your-own-ai-assistant-using-api-ai/

  Edited by Juan Carlos Gallegos to use with Dialogflow's V2 API.

  * It accepts user input
  * Sends a corresponding AJAX request to Dialogflow's REST API
  * Presents/speaks Dialogflow's response to user query
  * Plays Spotify song if included in Dialogflow's response to the user query
-->

<html>
<head>
  <title>Muze Client</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">


  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='player.js') }}"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body class="bg-gray">
  <div class="container">
    <div class="columns">

      <div class="column col-10 col-mx-auto">
        <div id="main-content">
          <h1 class="text-primary" id="title">Muze Player</h2>
          <div>
            <button id="random-song" class="btn btn-primary btn-lg">Play a song</button>
          </div>
          <div class="card bg-gray" id="music-metadata-container">
            <div class="card-image">
              <a id="album-art-link" target="_blank">
                <img id="album-art" />
              </a>
            </div>

            <div class="chip track-metadata" id="track-name">Song Name</div>
            <div class="chip track-metadata" id="artist-name">Artist Name</div>
            <div class="chip track-metadata" id="album-name">Album Name</div>

            <div id="branding-container">
              <img id="spotify-logo" src="{{ url_for('static', filename='imgs/Spotify_Logo_RGB_Black.png') }}" />
              <img id="spotify-icon" src="{{ url_for('static', filename='imgs/Spotify_Icon_RGB_Black.png') }}" />
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type="text/css">
</body>
</html>
